*{
	font-family: 'Jura', sans-serif;
}
body{
	margin: 0;
}
li{

}
/*!!!!!header!!!!!*/
.all_content{
	display: flex;
	flex-direction: column;
}
.head_menu{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 9.5vw;
	transition: 0.6s;
}
.head_menu_opacy{
	background-color: #fff;
	box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.site_name{
	padding-top: calc((120/140)*1vh);
	font-size: 120%;
}
.site_name img{
	height: 91px;
	float: left;
}
/*.menu_buttons li{
	display: inline-block;
}
.menu_buttons li a{
	text-decoration: none;
	margin: 0 10px;
	color: #444;
	transition: 0.6s;
}
.menu_buttons_buttom{
	border-bottom: 1px #444 solid;
}*/

.menu_buttons ul {
    position: relative;
    padding: 0;
}
.menu_buttons ul:hover a {
    color: transparent;
    text-shadow: 0 0 0 #291c0e;
}
.menu_buttons_highest {
    color: #291c0e;
    display: inline-block;
    line-height: 66px;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.menu_buttons_item{
    display: inline-block;
    margin: 0 10px;
}
.menu_buttons_highest:hover {
    border-bottom: 1px solid #291c0e;
    color: #291c0e;
}
.menu_buttons li ul{
    display: none;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
    list-style: none;
    position: absolute;
    left: 246px;  /*отрегулировать при изменении меню*/
    top: 75px;
}
.menu_buttons li div{
	position: absolute;
	left: 154px;
	height: 23px;
	width: 202px;
	background-color: transparent;
}
.menu_buttons li ul a{
	display: block;
	text-decoration: none;
	background-color: #fff;
    width: 183.6px;
    padding: 10px;
    padding-right: 6px;
    padding-left: 13px;
    border-bottom: none;
}
.menu_buttons li ul a:hover{
	box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
	background-color: #ededed;
}
.menu_buttons li:hover ul {
    display: inline-block;
    border-bottom: none;
}


/*!!!!!alt_slider!!!!*/

.heady{
	height: 100px;
	background-image:  url('../img/services-header3_wi.jpg');
	background-repeat:  no-repeat;
	background-size:  cover;
	background-position:  50% 5%;
   	}

/*!!!!!order_button!!!!*/

.do_order_button{
	display: block;
    width: 200px;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	color: black;
	padding: 15px;
	padding-top: 10px;
	border: 1px solid black;
	border-radius: 200px;
	box-sizing: border-box;
	cursor: pointer;
}
.do_order_button:hover{
	background-color: black;
	color: #fff;
}
/*!!!!!main_content!!!!!*/
.main_content{
	padding: 0 9.5vw;
}
/*!!!!!footer!!!!!*/
.footer{
	margin: 30px 0 0 0;
	height: 150px;
	background-color: rgb(234, 234, 234);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 40px 9.5vw 0 9.5vw;
}
.phones_adr{
	display: flex;
	flex-direction: column
}
.phones_adr li{
	list-style: none;
}
.social_buttons li{
	font-size: 50px;
	display: inline-block;
	padding: 5px;
}
.social_buttons a{
	color: black;
}
.social_buttons li:not(:nth-of-type(3)){
	/*background-color: green;*/
	padding: 0 10px;
}
/*!!!!!modal_form!!!!!*/
.modal_form_do_order{
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 1100;
	height: 300px;
	width: 240px;
	background-color: #f2f4f3;
	margin: -150px 0 0 -120px;
	box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.form_do_order_cross{
	position: absolute;
	right: 0;
	/*background-color: green;*/
	width: 20px;
	height: 20px;
	z-index: 110;
	cursor: pointer;
}
.form_do_order_cross:after{
	content: '';
	position: absolute;
	top: 10px;
	background-color: black; 
	width: 18px;
	height: 1px;
	z-index: 120;
	transform: rotate(45deg);
}
.form_do_order_cross:before{
	content: '';
	position: absolute;
	top: 10px;
	background-color: black; 
	width: 18px;
	height: 1px;
	z-index: 120;
	transform: rotate(-45deg);
}
.modal_form_do_order p{
	margin: 20px 0 0 0;
	text-align: center;
}
.modal_form_do_order form{
	padding: 20px;
	width: 200px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.modal_form_do_order input[type="text"], .modal_form_do_order input[type="submit"]{
	margin: 10px auto;
	width: 100%;
}
.modal_form_do_order input[type="radio"]{
	width: 20%;
	margin: 11.5px 0;
}
.modal_form_do_order label[for^="kurs"]{
	width: 70%;
}

.bold_font{
	font-weight: 600;
}

@media screen and (max-width: 1210px) {
	.head_menu{
	padding: 0 2vw;
	}
}
@media screen and (max-width: 1026px){
	.head_menu{
	padding: 0 20px;
	}
}
@media screen and (max-width: 871px){
	.head_menu .menu_buttons_item:first-child{
		display: none;
	}
	.menu_buttons li ul {
		left: 154px;
	}
}